:root {
  --footer-bg: rgb(235, 235, 235);
}

.dark-mode {
  --footer-bg: rgb(15, 15, 15);
}

#footer {
  font-size: 0.9rem;
  text-align: center;
  padding: 2px;
  background: var(--footer-bg);
  letter-spacing: 1px;
}