:root {
  --profile-image-bs: rgba(0, 0, 0, 0.2) 0px 20px 30px;
}

.dark-mode {
  --profile-image-bs: rgba(255, 255, 255, 0.08) 0px 20px 30px;
}

#home {
  padding-bottom: 0;
  /* animation: fadeInName 1s ease; */
}

.home-container {
  display: flex;
  justify-content: space-between;
  gap: 50px;
  padding: 0 25px;
  padding-top: 50px;
  padding-bottom: 0;
  margin-bottom: 0;
}

.home-left {
  display: flex;
  flex-direction: column;
  justify-content: end;
}

.profile-img {
  width: 280px;
  height: auto;
  object-fit: cover;
  border-radius: 6px;
  /* animation: slideIn 0.8s ease-out; */
  box-shadow: var(--profile-image-bs);

}

.social-links {
  display: flex;
  justify-content: space-between;
  padding-top: 100px;
  width: 80%;
  align-self: flex-end;
}

.social-links a {
  /* margin: 0 10px; */
  font-size: 1.1rem;
}

.home-right {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.home-right h1 {
  font-size: 5rem;
  margin-bottom: 10px;
  text-align: right;
  /* text-shadow: var(--text-shadow); */
  /* animation: fadeInName 1s ease-out; */
}

.home-right h2 {
  font-size: 2.5rem;
  text-align: right;
  margin-top: 0;
  font-weight: lighter;
  /* text-shadow: var(--text-shadow); */
  /* animation: fadeInTitle 0.8s ease-out; */
}