:root {
  --navbar-bg: rgba(255, 255, 255, 0.5);
  --tooltip-text: rgba(0, 0, 0, 0.6);
}

.dark-mode {
  --navbar-bg: rgba(0, 0, 0, 0.5);
  --tooltip-text: rgba(255, 255, 255, 0.8);
}

#navbar {
  position: fixed;
  top: 0;
  width: 100%;
  background: var(--navbar-bg);
  backdrop-filter: blur(10px);
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}

.nav-container {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}

.nav-logo {
  font-size: 35px;
  cursor: pointer;
}

.nav-center {
  display: flex;
  gap: 15px;
}

.nav-center a {
  position: relative;
  color: var(--text-color);
}

.nav-center a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -2px;
  width: 100%;
  height: 1.5px;
  background: var(--link-color);
  transform: scaleX(0);
  transition: transform 0.2s ease-in-out;
}

.nav-center a:hover::after {
  transform: scaleX(1);
}

.theme-toggle {
  position: relative;
  font-size: 24px;
  border: none;
  background: none;
  cursor: pointer;
}

.tooltip {
  position: absolute;
  bottom: -35px;
  left: 50%;
  transform: translateX(-50%);
  color: var(--tooltip-text);
  font-size: 0.9rem;
  white-space: nowrap;
  opacity: 0;
  transition: opacity 0.3s ease-in-out, color 1s ease-in-out;
  pointer-events: none;
}

.theme-toggle:hover .tooltip {
  opacity: 1;
  color: var(--tooltip-text);
}