:root {
  --project-bs: 20px 0px 50px -20px rgb(0, 0, 0, 0.1);
  --project-bs-reverse: -20px 0px 50px -20px rgba(0, 0, 0, 0.15);
  --project-title-glow: none;
}

.dark-mode {
  --project-bs: none;
  --project-bs-reverse: none;
  --project-title-glow: glowEffect 3s ease-in-out infinite;
}

#projects {
  padding: 70px 0px;;
}

.section-title {
  padding-bottom: 20px;
}

.projects-container {
  display: flex;
  flex-direction: column;
  gap: 50px;
  align-items: center;
}

.project-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 20px;
  border-radius: 20px;
  transition: box-shadow 0.3s ease-in-out;
}

.project-item.reverse {
  flex-direction: row-reverse;
}

.project-item:hover {
  box-shadow: var(--project-bs);
}

.project-item.reverse:hover {
  box-shadow: var(--project-bs-reverse);
}

.project-image {
  position: relative;
  width: 750px;
  height: 365px;
  overflow: hidden;
  border-radius: 6px;
  /* transition: box-shadow 0.3s ease-in-out; */
}

.project-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.image-overlay {
  position: absolute;
  bottom: 3%;
  left: 0;
  right: 75%;
  height: 20px;
  background: linear-gradient(to right, rgba(0, 0, 0, 0.7), transparent);
  display: flex;
  align-items: center;
  padding: 0 10px;
  color: white;
  font-size: 0.8rem;
}

.image-title {
  font-family: "Poppins", serif;
  font-weight: lighter;
  margin: 0;
  text-align: left;
}

.nav-arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: none;
  border: none;
  color: white;
  font-size: 1.5rem;
  cursor: pointer;
  opacity: 0.3;
  transition: opacity 0.2s;
}

.nav-arrow:hover {
  opacity: 0.8;
}

.nav-arrow.left {
  left: 10px;
}

.nav-arrow.right {
  right: 10px;
}

.nav-arrow.hidden {
  display: none;
}

.project-details {
  width: 45%;
  text-align: left;
  padding: 20px;
}

.project-title-container {
  display: flex;
}

.project-title {
  margin: 0;
  font-size: 1.2rem;
  margin-bottom: 10px;
  text-align: left;
  cursor: pointer;
}  

.project-title::after {
  content: "🔗";
  font-size: 12px;
  margin-left: 5px;
  opacity: 0;
  transition: all 0.3s ease-in-out;
  vertical-align: middle;
}

.project-item:hover .project-title::after {
  opacity: 1;
}

.dark-mode .project-title::after {
  content: none;
}

.dark-mode .project-title {
  margin: 0;
  font-size: 1.2rem;
  margin-bottom: 10px;
  text-align: left;
  cursor: pointer;
  background: linear-gradient(
    90deg, 
    white 0%, 
    rgba(255, 255, 255, 0.8) 25%,
    rgba(255, 255, 255, 0.6) 50%,
    rgba(255, 255, 255, 0.8) 75%,
    white 100%
  );
  background-size: 200% 100%;
  background-position: -100% 0%;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: glowEffect 6s infinite linear;
  transition: all 1s ease-in-out;
}

.dark-mode .project-item:hover .project-title {
  text-shadow: 0px 0px 10px rgba(255, 255, 255, 0.9);
  background-color: white;
}

.project-description {
  font-family: "Poppins", serif;
  font-size: 0.9rem;
  font-weight: 200;
  margin-bottom: 15px;
}

.project-links {
  margin-top: 40px;
}

.project-links a {
  margin-right: 25px;
}