:root {
  --bg-color: #ffffff;
  --text-color: #1c1c1e;
  --link-color: #4a7b9d;
  --link-color-hover: #2274a5;
  --text-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}

.dark-mode {
  --bg-color: #000000;
  --text-color: #faf9f8;
  --link-color: #7ab5e3;
  --link-color-hover: #b8daff;
  --text-shadow: 0px 2px 5px rgba(255, 255, 255, 0.1);
}

.fade-in {
  animation: fadeIn 2s ease-in-out;
}



@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

@keyframes slideIn {
  from { opacity: 0; transform: translateX(-5%); }
  to { opacity: 1; transform: translateX(0); }
}

@keyframes fadeInName {
  from { opacity: 0; transform: translateY(10px); }
  to { opacity: 1; transform: translateY(0); }
}

@keyframes fadeInTitle {
  from { opacity: 0; transform: translateY(5px); }
  to { opacity: 1; transform: translateY(0); }
}

@keyframes glowEffect {
  0% {
    background-position: -100% 0;
  }
  100% {
    background-position: 100% 0;
  }
}



html {
  scroll-behavior: smooth;

  image-rendering: crisp-edges;
  -webkit-image-rendering: crisp-edges;
  -webkit-image-rendering: optimize-contrast;
  -moz-image-rendering: crisp-edges;
  -ms-interpolation-mode: nearest-neighbor;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  font-family: "Vidaloka", serif;
  margin: 0;
  padding: 0;
  background: var(--bg-color);
  color: var(--text-color);
  cursor: default;
  /* transition: background-color 0.5s ease, color 0.5s ease; */
  transition: all 0.5s ease;
  /* animation: fadeIn 3s ease forwards; */
}

section {
  padding: 60px 20px;
  max-width: 1200px;
  margin: auto;
  text-align: left;
}

/* h1, h2, h3 {
  text-align: center;
  transition: color 0.1s ease;
  text-shadow: var(--text-shadow);
} */

ul {
  list-style-type: none;
  padding: 0;
}

a {
  text-decoration: none;
  color: var(--link-color);
  transition: color 0.5s ease;
}

a:hover {
  color: var(--link-color-hover);
}